#alarm {
  button {
    width: 46px;
    height: 24px;

    margin-left: auto;
  }

  #new-alarm {
    display: flex;
    border-bottom: 2px solid #1486aa;
    padding: 8px 0;
  }

  div.alarm-item {
    display: flex;
    border-bottom: 1px solid #1486aa;
    padding: 4px 0;
  }
}
